body{
	background-color: hsl(229, 57%, 11%);
	position: relative;
	background-image: url(images/bg-desktop.png);
	background-repeat: no-repeat;
	background-position: 0% 300px;
	font-family: 'Raleway',sans-serif;
	font-size: 14px;
}

.fa-file,.fa-folder,.fa-cloud-upload-alt{
	color: rgb(113,143,216);
	font-size: 20px;
}
.fa-layer-group{
	color: #fff;
	font-size: 40px;
	margin-right: 15px;
}
.logo{
	margin-bottom: 30px;
}
.logo span{
	color: #fff;
	font-size: 40px;
	font-weight: 700;
}
.container{
	width: 70%;
	margin: auto;
	margin-top: 15%;
}
.box-1{
	box-sizing: border-box;
	background-color: hsl(228, 56%, 26%);
	width: 35%;
	border-top-left-radius:15px;
	border-top-right-radius:100px; 
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	padding: 30px;
	float: left;
}
.box-1 ul{
	padding: 0;
	margin-bottom: 22px;
}
.box-1 li{
	display: inline;
	background-color: hsl(229, 57%, 11%);
	padding: 10px;
	border-radius: 6px;
	margin-right: 12px;
}
.box-1 #logo{
	padding-top: 10px;
	padding-bottom: 10px;
}
.box-2{
	box-sizing: border-box;
	width: 60%;
	background-color: hsl(228, 56%, 26%);
	float: right;
	padding: 25px 35px 25px 35px;
	margin-top: 30px;
	border-radius: 15px;
	position: relative;
}
.box-2 p,.box-2 span{
	color: hsl(243, 100%, 93%);
}
.outer{
	display: flex;
	background-color: hsl(229, 57%, 11%);
	border-radius: 15px;
	padding: 3px 3px;
	padding-bottom: 5px;
	width: 98%;
	height: 15px;
	margin-bottom: 15px;
}
.inner{
	display: flex;
	justify-content: flex-end;
	background: linear-gradient(to right,hsl(6, 100%, 80%),hsl(335, 100%, 65%));
	padding: 3px 3px;
	width: 81.5%;
	height: 12px;
	border-radius: 15px;
}
.dot{
	width: 12px;
	height: 12px;
	display: flex;
	align-self: flex-end;
	background: #fff;
	border-radius: 15px;
}
.box{
	width: 140px;
	height: 50px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 6px;
	position: absolute;
	top: -15px;
	right: 20px;
}
.box p{
	color:hsl(229, 7%, 55%);
	text-align: center;
	font-weight: 700;
}
.box p span[class="big"]{
	color: black;
	font-size: 200%;
	padding-right: 5px;
}
.highlight{
	font-weight: 700;
	color: #fff;
}
.start{
	float: left;
}
.end{
	float: right;
}
@media(max-width: 960px){
	body{
		background: url(images/bg-mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.box-1,.box-2{
		float: none;
		margin: auto;
		width: 100%;
	}
	.box-1{
		margin-bottom: 70px;
	}
	.box-2 p{
		text-align: center;
	}
	.box-2{
		padding-bottom: 70px;
	}
	.box{
		top: 150px;
		left:30%;
		width: 160px;
		height: 60px;
	}
}